* {
  box-sizing: border-box;
}
h1 {
  font-size: 4em;
  color: #fff;
}
#home {
  background: url("images/me.jpg") 50% 0 repeat fixed;
  min-height: 1000px;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}
#home article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}
#links {
  background: url("images/field.jpg") 50% 0 no-repeat fixed;
  min-height: 1000px;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}
#links article {
  height: 458px;
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;
}
#email {
  background: url("images/fence.jpg") 50% 0 no-repeat fixed;
  min-height: 1000px;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}
#email article {
  height: 458px;
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;
}
.fa {
  color: #fff;
  line-height: 1;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 2em 0;
}
li {
  transition: all 0.5s ease;
  width: 100%;
  border-width: 1px;
  background: rgba(204,204,204,0.7);
  font-size: 4em;
  font-weight: bold;
  height: 1.3em;
  vertical-align: middle;
  border-style: solid;
  border-color: rgba(204,204,204,0);
}
li:hover {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
}
a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
a,
a:active,
a:visited {
  color: #fff;
}
#mail a,
a:active,
a:visited {
  color: #fff;
}
#linklist {
  bottom: 0px;
  float: right;
  position: absolute;
}
.gitHub {
  background: rgba(128,128,128,0.7);
}
.twitter {
  background: rgba(0,172,237,0.7);
}
.youtube {
  background: rgba(187,0,0,0.7);
}
.vimeo {
  background: rgba(170,212,80,0.7);
}
.stackOverflow {
  background: rgba(224,135,73,0.7);
}
.fourSquare {
  background: rgba(0,114,177,0.7);
}
.instagram {
  background: rgba(81,127,237,0.7);
}
.flickr {
  background: rgba(255,0,132,0.7);
}
