doctype html
html(lang="en")
  head
    title Andrew Landry
    link(rel='stylesheet', type='text/css', href='styles/normalize.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
  body
    header.
      Andrew Landry
    p.
      You have found me on the web.
    ul
      li: a(href="http://andrew-landry.com") andrew-landry.com
      li: a(href="https://twitter.com/Bits_and_Beeps") Twitter
      li: a(href="http://www.youtube.com/user/AndrewLandry") YouTube
      li: a(href="https://vimeo.com/andrewlandry") Vimeo
      li: a(href="https://soundcloud.com/andrew-landry/") SoundCloud
      li: a(href="https://github.com/andyroo2000") GitHub



    link(type='text/script', href="https://code.jquery.com/jquery.js")
