doctype html
html(lang="en")
  head
    title Andrew Landry
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
  body
    header.
      Andrew Landry
    #findMe
      h2.
        find me on the internets
      ul
        li(class="mySite"): a(href="http://andrew-landry.com") bits and beeps
        li(class="gitHub"): a(i class="fa fa-github" href="https://github.com/andyroo2000")
        li(class="twitter"): a(i class="fa fa-twitter" href="https://twitter.com/Bits_and_Beeps")
        li(class="youtube"): a(i class="fa fa-youtube" href="http://www.youtube.com/user/AndrewLandry")
        li(class="vimeo"): a(i class="fa fa-vimeo-square" href="https://vimeo.com/andrewlandry")
        li(class="stackOverflow"): a(i class="fa fa-stack-overflow" href="http://stackoverflow.com/users/2608514/andrew-landry")
        li(class="fourSquare"): a(i class="fa fa-foursquare" href="https://foursquare.com/androidland")
        li(class="instagram"): a(i class="fa fa-instagram" href="http://instagram.com/andrewlandry")
        li(class="flickr"): a(i class="fa fa-flickr" href="http://www.flickr.com/photos/androidland")



    link(type='text/script', href="https://code.jquery.com/jquery.js")
