*
  font-family: 'helvetica'
  color: #666
  box-sizing: border-box

body
  height: 100%
  width: 50%
  padding-left: 3em
  font-size: 1.8em
  line-height: 1.6
  background: url(../images/me-fire-escape.jpg) no-repeat center center fixed
  background-size: cover

// #findMe
//   background: rgba(255, 255, 255, .1)
  

a
  text-decoration: none
  width: 100%
  height: 100%

ul
  list-style-type: none
  padding-left: 0
  margin: 0 0 2em 0

li
  transition: all 0.5s ease
  width: 30%
  text-align: center
  cursor: pointer
  border-color: rgba(220, 220, 200, 0)
  border-width: 1px
  border-style: solid
 

li:hover
  border-color: black
  border-width: 1px
  border-style: solid

header
  font-size: 3em
  margin-top: 0.2em
  color: #DDD
  color: RGBA(221, 221, 221, .9)

h2
  margin-top: 0
  font-size: 0.75em
  font-weight: normal
  color: #7f8c8d

.fa
  color: white
  line-height: 2

.mySite
  background: rgba(204, 204, 204, .7)
  font-size: 60%
  font-weight: bold
  height: 1.8em
  vertical-align: middle


.gitHub
  background: rgba(128, 128, 128, .7)

.twitter
  background: rgba(0, 172, 237, .7)

.youtube
  background: rgba(187, 0, 0, .7)

.vimeo
  background: rgba(170, 212, 80, .7)

.stackOverflow
  background: rgba(224, 135, 73, .7)

.fourSquare
  background: rgba(0, 114, 177, .7)

.instagram
  background: rgba(81, 127, 237, .7)

.flickr
  background: rgba(255, 0, 132, .7)


// MEDIA QUERIES

@media screen and (max-width: 600px)
  body
    padding-left: 0
  li
    width: 100%
    line-height: 2em
  h1
    font-size: 50%

@media only screen (-moz-min-device-pixel-ratio: 2), 
  screen and (-o-min-device-pixel-ratio: 2/1), 
  screen and (-webkit-min-device-pixel-ratio: 2), 
  screen and (min-device-pixel-ratio: 2)
    body
      width: 100%
      padding-left: 0
      font-size: 5em
      background-color: #333
      background: none
    li
      width: 100%
      line-height: 1.2em
      font-size: 2em
    .mySite
      font-size: 1em
      line-height: 2em
    header
      font-size: 1.5em
      color: rgba(52, 73, 94,1.0)
    h2
      color: RGBA(221, 221, 221, 1)

